docutils==0.16
numpy==1.18.4
pandas==1.0.3
Pygments==2.7.4
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2020.1
robotframework==3.2.1
robotframework-databaselibrary==1.2.4
robotframework-datadriver==0.3.6
robotframework-pabot==1.6.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.4.0
robotremoteserver==1.1
selenium==3.141.0
six==1.14.0
urllib3==1.25.9
xlrd==1.2.0
